# Environment variables
.env
.env.*
!.env.template

# Virtual environments
.venv
venv/
ENV/
env/

# Embeddings
*_embeddings/

# files
*.txt


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
log.txt
app.log

# Test coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Build
build/
dist/

# Project-specific
# Add any project-specific files or directories to ignore
backend/storage/*
backend/uploads/*
